/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url('components/hero.css');
@import url('components/container.css');
@import url('components/button.css');
@import url('components/cards.css');

/* Utilities */
body {
  margin: 0 auto;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 40px;
  padding: 40px;
  background-color: #07152F;
  color: white;
}

/* Custom design below! */

.text-center {
  text-align: center;
}

.header-sm {
  font-size: 24px;
}
