.btn{
  display: inline-block;
  padding: 16px 32px;
  text-decoration-style: none;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
}

.btn-hero{
  background-color: #4B88A2;
  color: white;
  border-radius: 8px;
  transition: 0.2s ease;
}

.btn-hero:hover, .btn-hero:focus {
  background-color: white;
  color: #4B88A2;
  transition: 0.2s ease;
}
