/* Containers */

.container {
  display: flex;
  margin: 16px auto;
  width: 700px;
  text-align: center;
}

.container h1 {
  font-size: 24px;
}


/* Container inside Hero */
#container-hero {
  display: block;
  text-align: left;
}

/* Container to hold Todo cards */

.container-todo {
  display: flex;
  margin: 10px auto;
  width: auto;
  justify-content: space-evenly;
}

/* Container for the FOOTER */

#container-footer {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
}

#container-footer img {
  width: 50px;
  filter: invert(100%);
}
