.hero{
  display: flex;
  height: 500px;
  background-size: cover;
  color: white;
  justify-content: center;
  align-items: center;
}

.hero h1, .hero p {
  margin: 0;
}

.hero p {
  padding: 8px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
}
